
html, body {
    background-image: url("./assets/images/spikes.png");
  }

  
.container {
    background-color: white;
    /* padding: 50%; */
    margin: 0 auto;
    width: 80%;
}

h2 {
    padding: 10px;
    color: #4aaaa5;
}

.navbar {
    color: #4aaaa5;
}

.navbar-brand {
    color: #4aaaa5;
}